:root {
  --accent: rgb(74, 202, 202);
}

body, label {
  font-family: Lato;
  background: #333;
  color: var(--accent);
}

#tree {
  border: 1px solid var(--accent);
}

input {
  background: #555;
  color: var(--accent);
  border: none;
  outline: none;
  position: relative;
  height: 40px;
  width: 400px;
  border-radius: 4px;
  margin-top: 40px;
  padding: 10px;
  font-size: 16px;
}

input:after {
  content: "";
  display: block;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background: var(--accent);
}

::-webkit-input-placeholder {
  color: var(--accent);
  opacity: 0.7;
}