:root {
  --color-accent: #4acaca;
  /* --color-accent: rgb(74, 202, 202); */
  --color-body: hsl(180, 6%, 6%);
  /* --color-body: #333; */
  --transition-duration: 0.3s;
  --color-input-background: rgba(255, 255, 255, 0.15);
  /* --color-input-background: #444; */
  --color-input-background-hover: rgba(255, 255, 255, 0.22);
  /* --color-input-background-hover: #555; */
  --color-selection: rgba(255, 192, 203);
  --color-selection: rgb(199, 58, 58);
}

::selection {
  background: var(--color-selection);
}

* {
  box-sizing: border-box;
}

body,
label {
  font-family: Lato;
  background: var(--color-body);
  color: var(--color-accent);

}

#tree {
  border: 1px solid var(--color-accent);
  transition: background-color var(--transition-duration) ease-in-out;
}

#result span {
  color: yellow;
  opacity: 0.8;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}

input {
  background: var(--color-input-background);
  color: var(--color-accent);
  border: none;
  outline: none;
  position: relative;
  height: 45px;
  display: block;
  max-width: 400px;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  transition: background-color var(--transition-duration) ease-in-out;
}

input:focus,
input:hover {
  background: var(--color-input-background-hover);
}

input:hover:not(:focus) {
  cursor: pointer;
}

input:after {
  content: "";
  display: block;
  right: 0;
  left: 0;
  bottom: 0;
  height: 2px;
  background: var(--color-accent);
}

::-webkit-input-placeholder {
  color: var(--color-accent);
  opacity: 0.3;
  transition: opacity var(--transition-duration);
}


input:hover::-webkit-input-placeholder {
  opacity: 0.7;
}